{% extends "admin:admin/index.html" %}

{% load static %}

{% block title %}Cloudinary resources | Django site admin{% endblock %}

{% block bodyclass %}{% endblock %}
{% block coltype %}{% endblock %}

{% block extrastyle %}
{{ block.super }}
<link rel="stylesheet" type="text/css" href="{% static "css/django_cloudinary.css" %}">
<link rel="stylesheet" type="text/css" href="{% static "css/ngkit.css" %}">
{% endblock %}

{% block content %}

    <div id="message-container" class="api-usage">{{ rate_limit_remaining }} of {{ rate_limit_allowed }} API calls remaning (resets at {{ rate_limit_reset_at|date:'n/j/y g:i A' }})</div>

    <div class="ng-grid cloudinary-resource-list">
        {# https://cloudinary.com/documentation/admin_api#list_resources #}
        {% for resource in cloudinary_resources %}
        <div class="ng-width-1-10 ng-text-center ng-margin-medium-top">
            <img src="{{ resource.thumbnail_url }}" title="{{ resource.public_id }}" />
            <p class="ng-text-small ng-margin-top-remove">
                <a href="/admin/cloudinary/editor/{{ resource.public_id }}" class="ng-border-remove">{{ resource.public_id }}</a>
            </p>
        </div>
        {% endfor %}
    </div>

{% endblock %}

{% block sidebar %}{% endblock %}
